.WrapperSignIn
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    max-width: 400px
    width: 100%

    border: 1px solid #ffffff
    border-radius: 1.5rem
    padding: 1.5rem

    .styleLogoPoupApp
        max-width: 120px
        width: 100%

.ContentLogo
    display: flex
    align-items: center
    flex-direction: column

    .StyleTitle
        color: #ffffff
        font-size: 1.12rem
        margin-bottom: 4px

    .styleText
        color: #ffffff
        font-size: 0.93rem
        margin-bottom: 4px

.ContentSignIn
    display: flex
    flex-direction: column
    gap: 1rem
    width: 100%

    .styleForm
        display: flex
        flex-direction: column
        gap: 0.5rem

    .styleLabel
        color: #ffffff
        font-size: 1rem
        margin: 5px

    .styleInput
        color: #ffffff

.contentLabelPassword
    display: flex
    align-items: center
    justify-content: space-between

    width: 100%
    margin-top: 8px
    text-decoration: none

    .StyleTextLabelPassword
        color: #ffffff
        font-size: 14px

        &:hover
            text-decoration: underline
            text-underline-offset: 5px

.ContentButtonSignIn
    display: flex
    align-items: center
    justify-content: center
    gap: 1rem

    width: 100%

.ContentSignUp
    display: flex
    justify-content: center

    text-decoration: none

    .StyleLinkSignUp
        color: #ffffff

        &:hover
            text-decoration: underline
            text-underline-offset: 5px
